*{
    background-color:ghostwhite;
    margin: 0;
    padding: 0;
}
header *{
    color: ghostwhite;
    background-color: mediumvioletred;
    float :right;
    text-align: center;
    height:70px;
    width: 40%;
    padding-top: 15px;
}
#logo{
    padding: 0 40px 0 0;
    width: 90px;
    height:50px;
}
nav{
    padding-top: 15px;
    background-color: mediumvioletred;
    height: 70px;
    width: 60%;
    float: left;
}
nav *{
    color: ghostwhite;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    display: inline;
}
.navtype1{
    background-color: orangered;
    color: snow;
    border-radius: 100px;
    padding: 10px;
}
.navtype2{
    padding: 4px;
    background-color: rgba(255, 255, 255, 0);
}
#navtype2div{
    background-color: rgba(255, 165, 0, 0.6);
    border-radius: 35px;
    padding:10px;
}
#searchdiv{
    background-color: ghostwhite;
    color: #000000;
    border-style: none;
    padding: 8px;
    border-radius: 25px;
}
.searchbox{
    background-color: rgba(255, 255, 255, 0);
    color: #262626;
    text-align: center;
    height: 20px;
    width: 200px;
    border-style: none;
}
.searchbutton{
    background-color: orangered;
    text-align: center;
    border-radius: 50px;
    border-style: none;
    height: 24px;
}
.dropbtn {
    background-color: palevioletred;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 73vw;
    float: right;
    margin-top: 15px;
    margin-right: 1vw;
}
.dropdown {
    margin-left: 1vw;
     position: relative;
     display: inline;
    float: right;
 }
.dropdown-content {
    background-color: orangered;
    box-sizing: border-box;
    width: 73vw;
    float: right;
    display: none;
    position: absolute;
    padding: 2vw;
    z-index: 1;
    top:65px;
}
.dropdown-content label{
    color: snow;
    margin: 5px 0 5px 1vw;
}
.yearrange {
    margin-left: 11.5vw;
    width:50vw;
}
.dropdown-content * , .dropdown-content2 *{
    background-color:orangered;
}
.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover .dropbtn{background-color:mediumvioletred;}

.dropbtn2 {
    background-color: palevioletred;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 13vw;
    float: left;
    margin-top: 15px;
}
.dropdown2 {
    position: relative;
    display: inline;
    float: right;
}
.dropdown-content2 {
    width: 13vw;
    float: right;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    top:65px;
}
.dropdown-content2 * {
    color: snow;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 input:hover{background-color:orange;}
.dropdown-content2 label:hover{background-color:orange;}
.dropdown2:hover .dropdown-content2{display: block;}
.dropdown2:hover .dropbtn2{background-color:mediumvioletred;}
#okBtn{
    background-color: mediumvioletred;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 5vw;
    float: left;
    margin-top: 15px;
    margin-left: 3vw;
}
#okBtn:hover {
    background-color: palevioletred;
    color: rebeccapurple;
}
form{
    min-height:30vh;
    box-sizing: border-box;

}
#SResult{
    background-color:palegreen;
    min-height: 70vh;
    box-sizing: border-box;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    display: block;
    padding: 150px 5vw 5vw 5vw;

}
#SResult >a{
    background-color: ghostwhite;
    box-sizing: border-box;
    display: inline-block;
    margin: 1vw;
    padding: 1vw;
}
#SResult >a>img {
    height: 380px;
    width: 380px;
    alignment: center;
}
#SResult >a>p {
    color: mediumvioletred;
    font-size: 20px;
    text-align: center;
}





